{% load staticfiles %}


<!DOCTYPE HTML>
<html>
<head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WNDMLBM');</script>
<!-- End Google Tag Manager -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133810635-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-133810635-1');
</script>
<!-- End Google Analytics -->
<!--[if lt IE 9]>
    <script>
    	alert("IE8 Please upgrade your browser");
        window.location = "http://filehippo.com/download_internet_explorer_windows_7/9457/";
    </script>
<![endif]-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
<title>Vertex Soft</title>
<!--SEARCH ENGIN START-->
     <meta name="Author" content="www.vertexsoft.net" />
     <meta name="description" content="Vertex Soft is a Software Services Company. There is no unlimited time or budget allocated for a single project. We help our clients to deliver their software projects/solutions within their Time and Budget." />
     <meta name="keywords" content="Vertex Soft, Software Development, Software Maintenance, Services, time, budget, clients, deliver, software projects, software solutions, Web Application Development services, Android Native Application Development Services, IOS Native Application Development Services, AMI Cloud Service for Smart Energy Meters (AMR), Vertex AMI, Business Intelligence, PostgreSQL, Python, React, Django, Android, IOS" />
     <meta name="robots" content="index,follow" />
<!--SEACH ENGINE END-->


<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen">
<link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css" media="screen">
<link rel="stylesheet" href="{% static 'css/grid.css' %}" type="text/css" media="screen">
<!-- Required Owl stylesheet -->
<link rel="stylesheet" href="{% static 'js/owlcarousel/owl.carousel.css' %}">
<!-- Optional Owl default theme stylesheet -->
<link rel="stylesheet" href="{% static 'js/owlcarousel/owl.theme.css' %}">
<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
<link href="{% static 'css/animate.css" rel="stylesheet' %}" type="text/css"/>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
<!-- Include js plugin -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/owlcarousel/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/js.js' %}"></script>
<script src="{% static 'js/jquery.label_better.js' %}" type="text/javascript"></script>

<!--[if lt IE 9]>
		<script src="{% static 'js/html5shiv.js' %}"></script>
		<script src="{% static 'js/respond.src.js' %}"></script>
	<![endif]-->
</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WNDMLBM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="menu">
  <div class="container clearfix">
    <div id="logo" class="fleft"> <a href="/" data-slide="1" class="button"><img src="{% static 'images/logo.png' %}" alt="logo"/></a> </div>
    <div id="nav" class="fright">
      <ul class="navigation">
        <li data-slide="1"><i class="home"></i><span>Home</span></li>
        <li data-slide="2"><i class="about"></i><span>About</span></li>
        <li data-slide="4"><i class="services"></i><span>Services</span></li>
        <li data-slide="8"><i class="work"></i><span>Work</span></li>
        <li data-slide="10"><i class="contact"></i><span>Contact</span></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="slide" id="slide1" data-slide="1">
  <div id="slideshow" class="owl-carousel">
    <div class="slide-wrap one">
      <div class="padding_slide animated">
		<h2><span>We meet Quality and Delivery Time within Allocated Budget</span></h2>
      </div>
    </div>
    <div class="slide-wrap two">
      <div class="padding_slide animated">
          <h2 class="blue" ><span>Amplify your software development and delivery capabilities</span></h2>
      </div>
    </div>
<!--    		<div class="slide-wrap three">
			<div class="padding_slide animated">
				<h2>We provide <span>offshore</span> IT services to <span>heterogeneous</span> organizations</h2>
			</div>
		</div>-->
    <div class="slide-wrap four">
      <div class="padding_slide animated">
          <h2><span>Reduce your software development cost by integration with us</span></h2>
      </div>
    </div>
    <div class="slide-wrap five">
      <div class="padding_slide animated">
          <h2><span>We think and operate globally</span></h2>
      </div>
    </div>
  </div>
</div>
<div class="slide" id="slide2" data-slide="2">
  <div id="about" class="container clearfix">
    <h1>About</h1>
    <div>
        <p>Vertex Soft is a Software Services Company.</p>
        <p>There is no unlimited time or budget allocated for a single project. A Project fails when any of either Time or Budget exceeds estimated values and client is not willing to extend any of both.
        We help our clients to deliver their software projects/solutions within their Time and Budget.</p>
        <p>Our portfolio is full of successfully delivered projects.</p>
    </div>
  </div>
</div>
<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
  <div class="padding_slide3">
    <div class="container clearfix">
      <p>Its time to avail Quality of Software Development Services<br>
within Time and Budget</p>
    </div>
  </div>
</div>
<div class="slide" id="slide4" data-slide="4">
  <div id="about23" class="container clearfix">
    <div id="contenet">
      <div class="grid_12">
        <h1>Services</h1>
<p>
    The Human Resources of Vertex Soft work with heterogeneous organizations to develop and maintain their software. We meet tough deadlines of software development and increase delivery capabilities and reduce the cost of development. We provide the services of Human Resources (IT Professionals) in all major technologies of programming.
    We are providing the services of our Business Intelligence experts to the organizations to develop Analytics Systems for their organizations to get interactive insights on the trends of their organizational data and even intelligence to optimize their business. We provide Web Application Development services. We provide Android Native Application Development Services. We provide IOS Native Application Development Services. We provide AMI Cloud Service for Smart Energy Meters (AMR).
</p>
      </div>
      <div class="clear"></div>
      <div class="gallery-list">
        <div class="list-2">
          <div class="grid_3">
            <div> <img src="{% static 'images/service_1.png' %}"  alt="Mobile Development"/> </div>
            <div class="item_description_3"> Mobile<br>Development </div>
          </div>
          <div class="grid_3">
            <div> <img src="{% static 'images/service_2.png' %}"  alt="Mobile Development"/> </div>
            <div class="item_description_3"> Web<br>Development </div>
          </div>
           <div class="grid_3">
            <div> <img src="{% static 'images/service_3.png' %}"  alt="Mobile Development"/> </div>
            <div class="item_description_3"> Databases</div>
          </div>
           <div class="grid_3">
            <div> <img src="{% static 'images/service_4.png' %}"  alt="Mobile Development"/> </div>
            <div class="item_description_3">DLMS / COSEM</div>
          </div>
          <div class="grid_3 last">
            <div> <img src="{% static 'images/service_5.png' %}"  alt="Mobile Development"/> </div>
            <div class="item_description_3">Business Intelligence</div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="slide" id="slide4" data-slide="4">
  <div id="about23" class="container clearfix">
    <div id="contenet">
      <div class="grid_12">
        <h1 id="latest-sccess-story">Latest Success Story</h1>
<p>
We have successfully deployed AMI Cloud Service for Vertex Electronics (Pvt) Ltd. being an extensive project started from communication of Server with Energy Meters using DLMS/COSEM standards with Web Interface, Web Services exposed to the outer world, Business Intelligent (BI) and Mobile Native.
<br />The key factors in our success are as follows:
<br />1).    A Dedicated Team comprised of heterogeneous skills from Development, Research to Project Management. In our team we prefer highly skilled, talented, competent, expert and specialized professionals of the leading universities of Pakistan.
<br />2).    Choosing latest technologies which were efficient, time saving and cost efficient.
<br />3).    Choosing Agile / SCRUM model for development and by defining multiple deadlines, biweekly deadlines for client and daily SCRUM meeting with the team.
<br />4).    Overcoming communication barriers within the team and with the client as well.
<br />5).    Support of Project Sponsor regarding requirement understanding
<br />6).    Peaceful and calm Working environment
</p>
          <img src="{% static 'images/vertex-ami.jpg' %}" alt="Vertex-AMI" style="display: block; margin-left: auto; margin-right: auto; "/>
      </div>
      <div class="clear"></div>
     </div>
  </div>
</div>


<div class="slide" id="slide5" data-slide="5" data-stellar-background-ratio="0.5">
  <div class="padding_slide5">
    <div class="container clearfix">
    <h2 class="heading_sub">Testimonials</h2>
	<div class="mb10"> <img src="{% static 'images/testimonial_img.png' %}"  alt="Vertix Electronics"/> </div>
      <p class="heading_sub_p"><span class="q_lft"></span>Vertex Soft has developed and maintained AMI Cloud Service for our Smart Energy Meters (AMR). They have used all major recent technologies in our project and delivered well in time.<span class="q_rght"></span></p>
    </div>
  </div>
</div>
<div class="slide" id="slide8" data-slide="8">
<div id="work" class="container clearfix">
		<h1>Clients</h1>

		<div class="gallery-list">
			<!-- portfolio_block -->
			<div class="gallery-list-wrap">
				<div class="grid_5">
                <a href="http://www.vertex.pk" target="_blank">
					<div class="two-icons">
                    	<img src="{% static 'images/portfolio/port_1.png' %}"  alt=""/>
						<span class="portfolio_description">Vertex Electronics</span>

					</div>
                    </a>
				</div>
				<div class="grid_5">
                   <a href="http://creative.com.pk" target="_blank">
					<div class="one-icons">
						<img src="{% static 'images/portfolio/port_2.png' %}"  alt=""/>
						<span class="portfolio_description">Creative Group</span>
					</div>
                    </a>
				</div>
				<div class="grid_5">
                   <a href="https://play.google.com/store/apps/dev?id=8087001425842025479" target="_blank">
					<div class="two-icons">
						<img src="{% static 'images/portfolio/port_4.png' %}"  alt=""/>
						<span class="portfolio_description">Google Play Developer Page</span>
					</div>
                    </a>
				</div>
				<div class="grid_5">
                   <a href="https://www.upwork.com/agencies/~010e6d135319cddb0e" target="_blank">
					<div class="two-icons">
						<img src="{% static 'images/portfolio/port_6.png' %}"  alt=""/>
						<span class="portfolio_description">UpWork Profile</span>
					</div>
                    </a>
				</div>
				<div class="grid_5">
                   <a href="http://facebook.com/FitnessSquare.pk" target="_blank">
					<div class="two-icons">
						<img src="{% static 'images/portfolio/port_7.png' %}"  alt=""/>
						<span class="portfolio_description">Fitness Square</span>
					</div>
                    </a>
				</div>
				<div class="clear"></div>
			</div>
			<!-- //portfolio_block -->
		</div>


	</div>
</div>
<div class="slide" id="slide10" data-slide="10">

  <div class="clear"></div>
  <div class="back_wrap unselectableBloc">

    <div id="contact" class="container clearfix">
    <div class="grid_12" style="margin-bottom:0">
      <h1>Contact</h1>
      <p>190/S, Quaid-e-Azam Industrial Estate, Kot Lakhpat, Lahore, Pakistan.</p>
      <p>Call us: <a href="tel:+924235215628">+92 42 35215628</a>; <a href="tel:+923111001172">+92 311 1001 172</a></p>
      <p><a href="skype:mkirshad?call"><i class="fa fa-skype"></i> mkirshad</a></p>
      <p><a href="mailto:sales@vertexsoft.net">sales@vertexsoft.net</a></p>	  
    </div>
    <div class="clear"></div>
    <ul class="social-list">
      <li> <a href="https://facebook.com/vertexsoft.net/" target="_blank"><i class="fa fa-facebook fa-lg"></i></a> </li>
      <!--<li> <a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a> </li>-->
      <li> <a href="skype:mkirshad?chat" target="_blank"><i class="fa fa-skype fa-lg"></i></a> </li>
      <li> <a href="https://www.linkedin.com/company/vertex-soft-net/about/" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a> </li>
	  <li> <a href="https://wa.me/923111001172" target="_blank"><i class="fa fa-whatsapp fa-lg"></i></a> </li>
	  <!--<li> <a href="https://www.youtube.com/user/kashifir" target="_blank"><i class="fa fa-youtube fa-lg"></i></a> </li>-->
    </ul>
  </div>
  </div>


  <div class="slide" id="slide11" data-slide="11">
  <div id="getaquote" class="container clearfix">
    <div class="grid_12" style="float:left; width:97%">
      <h1>Get Initial Quote in 24 Hours for <span>Free</span></h1>
      <p>Have a nice idea for the resources cost? Just submit your porject idea</p>
    </div>
<!-- StuffGate widget -->
<div style="float:right; width:1%"><script src="//stuffgate.com/static/widgets/website.js?url=vertexsoft.net&amp;width=220&amp;height=70"></script><a href="http://stuffgate.com/vertexsoft.net" target="_blank" id="stuffgate_widget_website">Vertexsoft.net - ranking and value</a></div>
    </div>
    <div class="clear"></div>
  </div>
</div>

</div>
  <div id="footer">
    <div class="container clearfix">
        <div class="copyright">&copy; 2015 - 2019 Vertex Soft, All rights reserved. 		&nbsp;&nbsp;&nbsp;&nbsp;<u><a class="blog" title="Vertex Blog" href="/blog" >Vertex Blog</a></u> &nbsp;&nbsp;&nbsp;&nbsp;<u><a class="blog" title="Vertex Blog" href="https://www.rozee.pk/company/vertex-soft-pvt-ltd/home" target="_blank">Career</a></u> </div>

        <div id="back_top"><a class="button" title="" data-slide="1">Back to top</a></div>
    </div>
  </div>

    <!-- Load Facebook SDK for JavaScript Start -->
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              xfbml            : true,
              version          : 'v3.2'
            });
          };

          (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your customer chat code -->
        <div class="fb-customerchat"
          attribution=setup_tool
          page_id="453196238549728"
          logged_in_greeting="What is your business?"
          logged_out_greeting="Thank you for contacting us?"
		  minimized="true"
		  >
        </div>
 <!-- Load Facebook SDK for JavaScript End -->
</body>
</html>
